body,
html {
    margin: 0;
}

html {
    height: 100%;
    background-color: black;
}

body {
    height: inherit;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

h1,
p {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="text"] {
    background-color: #fff;
    color: #000;
}

input[type="text"]:focus {
    border: 3px solid #555;
}

.container {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hints span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.item {
    width: 10em;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: black;
    color: white;
    border: 2px solid #FFF;
}

.button1:hover {
    background-color: #FFF;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #312f3a;
    color: #fff;
    text-align: center;
}